.contenedor_formulario{
 display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}
.form__citas{
    border: thin outset rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    height: fit-content;
    width: 480px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0px auto;  
    /* width: 100% */   
}

.form__citas div{
    text-align: right;
    height: fit-content;
    margin-top: 15px;
}

.form__citas div .exit{
    cursor: pointer;
}
.form__citas div .exit:hover{
    background-color: var(--second-color);
}
.form__citas h1{
    text-align: center;
color: var(--second-color);

}
.form__citas label{
    font-weight: bold;
    color: rgb(97, 97, 97);
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form__citas input{
    height: 30px;
    width: 100%;
    border-radius: 3px;
    border-color: thin solid rgb(97, 97, 97);
}

.form__citas input[type=number]::-webkit-inner-spin-button, 
.form__citas input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.form__citasinput[type=number] {
  -moz-appearance: textfield;
}

.form__citas input:empty{
    border-color: var(--main-color);
}

.form__citas input:last-child{
    margin-top: 20px;
    height: 50px;
    background-color: var(--main-color);
    font-weight: lighter;
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
    width: 490px;
}
.form__citas input:last-child:hover{
    background-color: var(--second-color);
}